Repository kevin1kevin1k/cyber-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-ruff, frontend-eslint

backend-ruff:
  name: backend-ruff
  language: system
  entry: bash -lc 'cd backend && uv run ruff check .'
  pass_filenames: false

frontend-eslint:
  name: frontend-eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

refactor(openai): split manifest ownership between builder and uploader
  backend/openai_integration/openai_input_files_uploader.py
  backend/openai_integration/openai_vector_store_builder.py
  backend/tests/test_openai_input_files_uploader.py
  backend/tests/test_openai_vector_store_builder.py
Due: backend-ruff

docs(backend): update openai workflow docs and sequence diagram
  backend/README.md
Due: none

chore(env): move backend env files and docs to backend scope
  README.md
  backend/.env.example
  backend/README.md
  backend/openai_integration/openai_file_search_lib.py
  backend/openai_integration/openai_input_files_uploader.py
  backend/openai_integration/openai_vector_store_builder.py
Due: backend-ruff

chore(openai): upgrade integration defaults to gpt-5.2-2025-12-11
  backend/README.md
  backend/openai_integration/openai_file_search_lib.py
  backend/openai_integration/openai_file_search_main.py
  backend/tests/test_openai_file_search_lib.py
  backend/tests/test_openai_file_search_main.py
Due: backend-ruff

feat(openai): align first-stage payload, rag mapping, and debug payload logs
  backend/openai_integration/openai_file_search_lib.py
  backend/openai_integration/openai_file_search_main.py
  backend/tests/test_openai_file_search_lib.py
  backend/tests/test_openai_file_search_main.py
Due: backend-ruff

feat(backend): wire ask endpoint to openai file search runtime
  backend/README.md
  backend/app/config.py
  backend/app/main.py
  backend/tests/test_ask_auth.py
  backend/tests/test_ask_credit_flow.py
  backend/tests/test_followup_ask_flow.py
  docs/TODO.md
Due: backend-ruff

docs: update PRD v0.5 and align TODO roadmap
  AGENTS.md
  docs/PRD.md
  docs/TODO.md
Due: none

feat(openai): add one-stage ask pipeline and cli pipeline switch
  backend/README.md
  backend/app/config.py
  backend/app/main.py
  backend/openai_integration/openai_file_search_lib.py
  backend/openai_integration/openai_file_search_main.py
  backend/tests/test_openai_ask_pipeline.py
  backend/tests/test_openai_file_search_lib.py
  backend/tests/test_openai_file_search_main.py
  docs/TODO.md
Due: backend-ruff

feat(frontend): hide source request id and layer percentages across ui
  docs/TODO.md
  frontend/app/history/[questionId]/page.tsx
  frontend/app/history/page.tsx
  frontend/app/page.tsx
  frontend/e2e/auth.spec.ts
  frontend/e2e/history.spec.ts
Due: frontend-eslint

feat(backend): add structured ask output and model-driven followups
  backend/README.md
  backend/app/main.py
  backend/openai_integration/openai_file_search_lib.py
  backend/tests/test_ask_auth.py
  backend/tests/test_ask_credit_flow.py
  backend/tests/test_followup_ask_flow.py
  backend/tests/test_openai_ask_pipeline.py
  backend/tests/test_openai_file_search_lib.py
  docs/PRD.md
  docs/TODO.md
Due: backend-ruff

docs(todo): mark completed rag structured-output checklist
  docs/TODO.md
Due: none

feat(frontend): align auth flows with email-link verification
  docs/TODO.md
  frontend/app/forgot-password/page.tsx
  frontend/app/reset-password/page.tsx
  frontend/app/verify-email/page.tsx
  frontend/e2e/auth.spec.ts
  frontend/lib/auth-messages.ts
Due: frontend-eslint

feat: add messenger-first adapter skeleton and align PRD v0.8
  backend/.env.example
  backend/README.md
  backend/alembic/versions/20260311_0006_add_messenger_identities_table.py
  backend/app/config.py
  backend/app/main.py
  backend/app/messenger/__init__.py
  backend/app/messenger/client.py
  backend/app/messenger/constants.py
  backend/app/messenger/routes.py
  backend/app/messenger/schemas.py
  backend/app/messenger/security.py
  backend/app/messenger/service.py
  backend/app/models/__init__.py
  backend/app/models/messenger_identity.py
  backend/tests/test_config_security.py
  backend/tests/test_messenger_identity_model.py
  backend/tests/test_messenger_webhook.py
  docs/PRD.md
  docs/TODO.md
Due: backend-ruff

feat(backend): wire messenger inbound ask flow to shared ask service
  backend/README.md
  backend/app/ask_service.py
  backend/app/main.py
  backend/app/messenger/constants.py
  backend/app/messenger/schemas.py
  backend/app/messenger/service.py
  backend/tests/test_messenger_webhook.py
  docs/TODO.md
Due: backend-ruff

feat(backend): wire messenger quick reply followups
  backend/README.md
  backend/app/ask_service.py
  backend/app/main.py
  backend/app/messenger/constants.py
  backend/app/messenger/service.py
  backend/tests/test_messenger_webhook.py
  docs/TODO.md
Due: backend-ruff

docs: add messenger validation runbook
  backend/README.md
  docs/TODO.md
  docs/messenger_validation_runbook.md
Due: none

feat(backend): implement messenger meta graph outbound client
  backend/README.md
  backend/app/messenger/client.py
  backend/app/messenger/routes.py
  backend/tests/test_messenger_client.py
  backend/tests/test_messenger_webhook.py
  docs/TODO.md
  docs/messenger_validation_runbook.md
Due: backend-ruff

feat(messenger): add webview linking flow
  backend/.env.example
  backend/README.md
  backend/app/config.py
  backend/app/messenger/constants.py
  backend/app/messenger/routes.py
  backend/app/messenger/schemas.py
  backend/app/messenger/security.py
  backend/app/messenger/service.py
  backend/tests/test_messenger_webhook.py
  docker-compose.yml
  docs/TODO.md
  docs/messenger_validation_runbook.md
  frontend/app/login/page.tsx
  frontend/app/messenger/link/page.tsx
  frontend/app/register/page.tsx
  frontend/app/verify-email/page.tsx
  frontend/e2e/messenger-link.spec.ts
  frontend/lib/messenger.ts
Due: backend-ruff, frontend-eslint

docs: clarify commit-only reply format
  AGENTS.md
Due: none

fix(messenger): avoid duplicated answer and followup replay
  backend/app/ask_service.py
  backend/app/messenger/service.py
  backend/tests/test_ask_credit_flow.py
  backend/tests/test_messenger_webhook.py
Due: backend-ruff

fix(messenger): show full followups before quick replies
  backend/app/messenger/service.py
  backend/tests/test_messenger_webhook.py
Due: backend-ruff

feat(messenger): restore followups after top-up
  backend/README.md
  backend/app/messenger/constants.py
  backend/app/messenger/service.py
  backend/tests/test_messenger_webhook.py
  docs/TODO.md
Due: backend-ruff

docs: record messenger webhook timeout follow-up
  docs/TODO.md
  docs/messenger_validation_runbook.md
Due: none

docs: document git index lock avoidance
  AGENTS.md
Due: none

feat(messenger): ack webhook before background processing
  backend/README.md
  backend/app/messenger/routes.py
  backend/tests/test_messenger_webhook.py
  docs/TODO.md
  docs/messenger_validation_runbook.md
Due: backend-ruff

test(backend): isolate destructive schema tests
  backend/README.md
  backend/tests/destructive/test_user_schema_destructive.py
  docs/TODO.md
Due: backend-ruff

docs: require commit hash verification before reporting
  AGENTS.md
Due: none

feat(frontend): support same-origin API on fixed domain
  docker-compose.yml
  docs/cloudflare_named_tunnel_setup.md
  frontend/lib/api.ts
Due: frontend-eslint

feat(messenger): add persistent menu support
  backend/README.md
  backend/app/messenger/client.py
  backend/app/messenger/constants.py
  backend/app/messenger/service.py
  backend/scripts/sync_messenger_profile.py
  backend/tests/test_messenger_client.py
  backend/tests/test_messenger_webhook.py
  docs/PRD.md
  docs/TODO.md
  docs/messenger_validation_runbook.md
Due: backend-ruff

feat(frontend): improve auth password inputs
  docs/TODO.md
  frontend/app/globals.css
  frontend/app/login/page.tsx
  frontend/app/register/page.tsx
  frontend/app/reset-password/page.tsx
  frontend/components/PasswordField.tsx
  frontend/e2e/auth.spec.ts
  frontend/e2e/history.spec.ts
  frontend/e2e/messenger-link.spec.ts
  frontend/e2e/wallet.spec.ts
Due: frontend-eslint

feat(frontend): improve messenger wallet webview flow
  docs/TODO.md
  docs/messenger_validation_runbook.md
  frontend/app/globals.css
  frontend/app/wallet/page.tsx
  frontend/e2e/wallet.spec.ts
Due: frontend-eslint

fix(messenger): harden followup answer separation
  backend/README.md
  backend/app/ask_service.py
  backend/app/config.py
  backend/app/messenger/service.py
  backend/openai_integration/openai_file_search_lib.py
  backend/tests/test_ask_credit_flow.py
  backend/tests/test_messenger_webhook.py
  backend/tests/test_openai_file_search_lib.py
  docs/PRD.md
  docs/TODO.md
Due: backend-ruff

feat(messenger): replay pending ask after top-up
  backend/README.md
  backend/alembic/versions/20260321_0007_add_messenger_pending_asks_table.py
  backend/app/messenger/constants.py
  backend/app/messenger/service.py
  backend/app/models/__init__.py
  backend/app/models/messenger_pending_ask.py
  backend/tests/test_messenger_webhook.py
  docs/PRD.md
  docs/TODO.md
  docs/messenger_validation_runbook.md
Due: backend-ruff

feat(auth): add production email delivery and resend verification
  backend/.env.example
  backend/README.md
  backend/app/config.py
  backend/app/email.py
  backend/app/main.py
  backend/app/schemas.py
  backend/tests/test_auth_register_verify.py
  backend/tests/test_config_security.py
  frontend/app/verify-email/page.tsx
  frontend/e2e/auth.spec.ts
Due: backend-ruff, frontend-eslint

feat(api): add in-memory rate limits for auth and ask flows
  backend/app/main.py
  backend/app/messenger/routes.py
  backend/app/rate_limit.py
  backend/tests/conftest.py
  backend/tests/test_auth_register_verify.py
  backend/tests/test_messenger_webhook.py
Due: backend-ruff

feat(launch): disable payments and grant messenger launch credits
  backend/.env.example
  backend/README.md
  backend/app/config.py
  backend/app/launch.py
  backend/app/main.py
  backend/app/messenger/constants.py
  backend/app/messenger/routes.py
  backend/app/messenger/service.py
  backend/app/schemas.py
  backend/scripts/grant_launch_credits.py
  backend/tests/test_credit_endpoints.py
  backend/tests/test_messenger_webhook.py
  backend/tests/test_orders_flow.py
  docs/TODO.md
  frontend/app/page.tsx
  frontend/app/wallet/page.tsx
  frontend/e2e/auth.spec.ts
  frontend/e2e/wallet.spec.ts
  frontend/lib/billing.ts
Due: backend-ruff, frontend-eslint

chore(deploy): switch containers to production runtime defaults
  backend/Dockerfile
  backend/README.md
  backend/app/config.py
  docker-compose.yml
  frontend/Dockerfile
Due: backend-ruff

docs: add container build safety rules
  AGENTS.md
Due: none

chore(dev): isolate backend compose venv
  backend/README.md
  docker-compose.yml
  frontend/package.json
Due: none

Path conditions:
  backend-ruff: any of: ^backend/.*\.py$
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
