Repository kevin1kevin1k/cyber-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-ruff, frontend-eslint

backend-ruff:
  name: backend-ruff
  language: system
  entry: bash -lc 'cd backend && uv run ruff check .'
  pass_filenames: false

frontend-eslint:
  name: frontend-eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

feat(profile): add fixed ask profile settings
  backend/README.md
  backend/alembic/versions/20260323_0009_add_user_profile_fields.py
  backend/app/ask_service.py
  backend/app/main.py
  backend/app/messenger/constants.py
  backend/app/messenger/service.py
  backend/app/models/user.py
  backend/app/schemas.py
  backend/app/user_profile.py
  backend/tests/test_ask_auth.py
  backend/tests/test_ask_credit_flow.py
  backend/tests/test_core_schema.py
  backend/tests/test_followup_ask_flow.py
  backend/tests/test_messenger_webhook.py
  backend/tests/test_user_profile_endpoints.py
  docs/PRD.md
  docs/TODO.md
  docs/messenger_validation_runbook.md
  frontend/app/globals.css
  frontend/app/messenger/link/page.tsx
  frontend/app/page.tsx
  frontend/app/settings/page.tsx
  frontend/components/AppTopNav.tsx
  frontend/e2e/auth.spec.ts
  frontend/e2e/settings.spec.ts
  frontend/lib/profile.ts
Due: backend-ruff, frontend-eslint

docs: require full repo-relative file paths in reports
  AGENTS.md
Due: none

feat(messenger): replay pending ask after profile setup
  backend/README.md
  backend/app/messenger/constants.py
  backend/app/messenger/service.py
  backend/tests/test_messenger_webhook.py
  docs/PRD.md
  docs/TODO.md
  docs/messenger_validation_runbook.md
Due: backend-ruff

chore(prod): add render blueprint and launch runbook
  backend/README.md
  docs/TODO.md
  docs/production_launch_runbook.md
  render.yaml
Due: none

fix(frontend): normalize api base urls with trailing slashes
  frontend/lib/api.ts
  frontend/playwright.config.ts
Due: frontend-eslint

docs: add token expiry guidance for messenger prod rollout
  docs/TODO.md
  docs/production_launch_runbook.md
Due: none

feat(messenger): bridge menu webview entry and classify failures
  backend/README.md
  backend/app/messenger/constants.py
  backend/app/messenger/service.py
  backend/tests/test_messenger_client.py
  backend/tests/test_messenger_webhook.py
  docs/PRD.md
  docs/TODO.md
  docs/messenger_validation_runbook.md
  docs/production_launch_runbook.md
  frontend/app/history/page.tsx
  frontend/app/wallet/page.tsx
  frontend/components/MessengerSessionRequired.tsx
  frontend/e2e/history.spec.ts
  frontend/e2e/wallet.spec.ts
Due: backend-ruff, frontend-eslint

fix(backend): read openai config from process env
  backend/README.md
  backend/app/ask_service.py
  backend/app/config.py
  backend/app/main.py
  backend/openai_integration/openai_file_search_lib.py
  backend/tests/test_openai_ask_pipeline.py
  backend/tests/test_openai_file_search_lib.py
Due: backend-ruff

fix(backend): allow ask runtime without local manifest
  backend/README.md
  backend/openai_integration/openai_file_search_lib.py
  backend/tests/test_openai_file_search_lib.py
Due: backend-ruff

feat(frontend): add public privacy and data deletion pages
  docs/TODO.md
  frontend/app/data-deletion/page.tsx
  frontend/app/globals.css
  frontend/app/privacy/page.tsx
Due: frontend-eslint

docs: add public beta release gates for messenger
  docs/PRD.md
  docs/TODO.md
  docs/messenger_validation_runbook.md
  docs/production_launch_runbook.md
Due: none

feat(frontend): add app icon and favicon assets
  frontend/app/_assets/brand-icon.svg
  frontend/app/apple-icon.png
  frontend/app/icon.png
Due: none

feat(messenger): auto-sync profile on backend startup
  backend/.env.example
  backend/README.md
  backend/app/config.py
  backend/app/main.py
  backend/app/messenger/profile_sync.py
  backend/scripts/sync_messenger_profile.py
  backend/tests/test_messenger_profile_sync.py
  docs/TODO.md
  docs/production_launch_runbook.md
  render.yaml
Due: backend-ruff

fix(backend): normalize render postgres connection strings
  backend/README.md
  backend/app/config.py
  backend/tests/test_config_security.py
  docs/production_launch_runbook.md
Due: backend-ruff

feat(account): allow deleting messenger-linked account
  backend/README.md
  backend/app/main.py
  backend/tests/test_user_profile_endpoints.py
  docs/TODO.md
  frontend/app/globals.css
  frontend/app/settings/page.tsx
  frontend/e2e/settings.spec.ts
  frontend/lib/profile.ts
Due: backend-ruff, frontend-eslint

feat(frontend): redirect first messenger link to settings
  frontend/app/messenger/link/page.tsx
  frontend/app/settings/page.tsx
  frontend/e2e/messenger-link.spec.ts
  frontend/e2e/settings.spec.ts
Due: frontend-eslint

feat(frontend): turn web home into messenger hub
  docs/PRD.md
  docs/TODO.md
  docs/messenger_validation_runbook.md
  docs/production_launch_runbook.md
  frontend/app/history/[questionId]/page.tsx
  frontend/app/page.tsx
  frontend/app/settings/page.tsx
  frontend/components/AppTopNav.tsx
  frontend/e2e/auth.spec.ts
  frontend/e2e/settings.spec.ts
Due: frontend-eslint

feat(messenger): guide first-time users via greeting and get started
  backend/README.md
  backend/app/messenger/client.py
  backend/app/messenger/constants.py
  backend/app/messenger/profile_sync.py
  backend/app/messenger/service.py
  backend/tests/test_messenger_client.py
  backend/tests/test_messenger_profile_sync.py
  backend/tests/test_messenger_webhook.py
  docs/PRD.md
  docs/TODO.md
  docs/messenger_validation_runbook.md
  docs/production_launch_runbook.md
  frontend/app/settings/page.tsx
  frontend/e2e/settings.spec.ts
Due: backend-ruff, frontend-eslint

feat(webview): simplify messenger settings center
  backend/README.md
  backend/app/messenger/constants.py
  backend/app/messenger/service.py
  backend/tests/test_messenger_client.py
  backend/tests/test_messenger_profile_sync.py
  backend/tests/test_messenger_webhook.py
  docs/PRD.md
  docs/TODO.md
  docs/messenger_validation_runbook.md
  docs/production_launch_runbook.md
  frontend/app/history/[questionId]/page.tsx
  frontend/app/history/page.tsx
  frontend/app/messenger/link/page.tsx
  frontend/app/page.tsx
  frontend/app/settings/page.tsx
  frontend/app/wallet/page.tsx
  frontend/components/AppTopNav.tsx
  frontend/e2e/auth.spec.ts
  frontend/e2e/history.spec.ts
  frontend/e2e/messenger-link.spec.ts
  frontend/e2e/settings.spec.ts
  frontend/e2e/wallet.spec.ts
Due: backend-ruff, frontend-eslint

feat(messenger): show processing feedback for long replies
  backend/README.md
  backend/app/messenger/client.py
  backend/app/messenger/routes.py
  backend/app/messenger/service.py
  backend/tests/test_messenger_client.py
  backend/tests/test_messenger_webhook.py
  docs/TODO.md
  docs/messenger_validation_runbook.md
Due: backend-ruff

feat(messenger): append balance after successful replies
  backend/README.md
  backend/app/messenger/constants.py
  backend/app/messenger/service.py
  backend/tests/test_messenger_webhook.py
  docs/PRD.md
  docs/TODO.md
  docs/messenger_validation_runbook.md
Due: backend-ruff

docs: align prd and todo with current beta
  docs/PRD.md
  docs/TODO.md
  docs/messenger_validation_runbook.md
  docs/production_launch_runbook.md
Due: none

feat(answer): restore five-part reply format
  backend/README.md
  backend/app/config.py
  backend/openai_integration/openai_file_search_lib.py
  backend/tests/test_openai_file_search_lib.py
  docs/PRD.md
  docs/TODO.md
Due: backend-ruff

fix(messenger): keep followup quick replies on final message
  backend/README.md
  backend/app/messenger/service.py
  backend/tests/test_messenger_webhook.py
  docs/TODO.md
  docs/messenger_validation_runbook.md
Due: backend-ruff

feat(messenger): announce launch credits during onboarding
  backend/README.md
  backend/app/messenger/constants.py
  backend/app/messenger/routes.py
  backend/app/messenger/service.py
  backend/tests/test_messenger_profile_sync.py
  backend/tests/test_messenger_webhook.py
  docs/PRD.md
  docs/TODO.md
  docs/messenger_validation_runbook.md
Due: backend-ruff

docs: document mobile messenger menu constraints
  backend/README.md
  docs/PRD.md
  docs/TODO.md
  docs/messenger_validation_runbook.md
  docs/production_launch_runbook.md
Due: none

docs: clarify public launch blockers for messenger
  docs/PRD.md
  docs/TODO.md
  docs/messenger_validation_runbook.md
  docs/production_launch_runbook.md
Due: none

fix(messenger): harden webhook replay protection
  backend/README.md
  backend/alembic/versions/20260331_0010_add_messenger_webhook_receipts_table.py
  backend/app/messenger/routes.py
  backend/app/messenger/schemas.py
  backend/app/models/__init__.py
  backend/app/models/messenger_webhook_receipt.py
  backend/tests/test_ask_auth.py
  backend/tests/test_ask_credit_flow.py
  backend/tests/test_core_schema.py
  backend/tests/test_messenger_webhook.py
  docs/TODO.md
  docs/production_launch_runbook.md
Due: backend-ruff

feat(messenger): add outbound retry and dead-letter tracking
  backend/README.md
  backend/alembic/versions/20260331_0011_add_messenger_outbound_deliveries_table.py
  backend/app/config.py
  backend/app/messenger/client.py
  backend/app/messenger/routes.py
  backend/app/models/__init__.py
  backend/app/models/messenger_outbound_delivery.py
  backend/tests/test_ask_auth.py
  backend/tests/test_ask_credit_flow.py
  backend/tests/test_config_security.py
  backend/tests/test_core_schema.py
  backend/tests/test_messenger_client.py
  backend/tests/test_messenger_webhook.py
  docs/TODO.md
  docs/production_launch_runbook.md
Due: backend-ruff

feat(openai): add final compression pass
  backend/.env.example
  backend/README.md
  backend/app/ask_service.py
  backend/app/config.py
  backend/app/main.py
  backend/app/openai_constants.py
  backend/openai_integration/openai_file_search_lib.py
  backend/tests/test_config_security.py
  backend/tests/test_openai_ask_pipeline.py
  backend/tests/test_openai_file_search_lib.py
  docs/TODO.md
Due: backend-ruff

feat(openai): refine compressed answer format
  backend/README.md
  backend/app/openai_constants.py
  backend/openai_integration/openai_file_search_lib.py
  backend/tests/test_config_security.py
  backend/tests/test_openai_file_search_lib.py
  docs/PRD.md
  docs/TODO.md
Due: backend-ruff

feat(ask): add per-user reply mode selection
  backend/.env.example
  backend/README.md
  backend/alembic/versions/20260420_0012_add_users_reply_mode.py
  backend/app/ask_service.py
  backend/app/config.py
  backend/app/main.py
  backend/app/messenger/constants.py
  backend/app/messenger/service.py
  backend/app/models/user.py
  backend/app/openai_constants.py
  backend/app/schemas.py
  backend/openai_integration/openai_file_search_lib.py
  backend/tests/test_config_security.py
  backend/tests/test_core_schema.py
  backend/tests/test_messenger_client.py
  backend/tests/test_messenger_profile_sync.py
  backend/tests/test_messenger_webhook.py
  backend/tests/test_openai_ask_pipeline.py
  backend/tests/test_openai_file_search_lib.py
  backend/tests/test_user_profile_endpoints.py
  docs/PRD.md
  docs/TODO.md
  docs/messenger_validation_runbook.md
  docs/production_launch_runbook.md
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/e2e/auth.spec.ts
  frontend/e2e/settings.spec.ts
  frontend/lib/profile.ts
Due: backend-ruff, frontend-eslint

refactor(openai): add quality-first ask pipeline
  backend/.env.example
  backend/README.md
  backend/app/ask_service.py
  backend/app/config.py
  backend/app/main.py
  backend/app/openai_constants.py
  backend/openai_integration/openai_file_search_lib.py
  backend/openai_integration/openai_file_search_main.py
  backend/tests/test_config_security.py
  backend/tests/test_openai_ask_pipeline.py
  backend/tests/test_openai_file_search_lib.py
  backend/tests/test_openai_file_search_main.py
  docs/TODO.md
Due: backend-ruff

Path conditions:
  backend-ruff: any of: ^backend/.*\.py$
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
