Repository kevin1kevin1k/cyber-oracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-ruff, frontend-eslint

backend-ruff:
  name: backend-ruff
  language: system
  entry: bash -lc 'cd backend && uv run ruff check .'
  pass_filenames: false

frontend-eslint:
  name: frontend-eslint
  language: system
  entry: bash -lc 'cd frontend && npm run lint'
  pass_filenames: false

feat(backend): add JWT login endpoint
  README.md
  backend/README.md
  backend/app/auth.py
  backend/app/config.py
  backend/app/main.py
  backend/app/schemas.py
  backend/app/security.py
  backend/pyproject.toml
  backend/tests/test_ask_auth.py
  backend/tests/test_auth_register_verify.py
  backend/uv.lock
  docker-compose.yml
  docs/implementation_todo.md
Due: backend-ruff

feat: Implement core domain models for questions, answers, orders, credit, sessions, and follow-ups, including schema tests, migration, and agent documentation updates.
  AGENTS.md
  backend/alembic/versions/20260217_0002_create_core_domain_tables.py
  backend/app/models/__init__.py
  backend/app/models/answer.py
  backend/app/models/credit_transaction.py
  backend/app/models/credit_wallet.py
  backend/app/models/followup.py
  backend/app/models/order.py
  backend/app/models/question.py
  backend/app/models/session_record.py
  backend/tests/test_auth_register_verify.py
  backend/tests/test_core_schema.py
  docs/implementation_todo.md
Due: backend-ruff

feat: Enhance authentication with JTI-based session management and add password reset capabilities.
  backend/README.md
  backend/alembic/versions/20260217_0003_add_password_reset_fields_to_users.py
  backend/app/auth.py
  backend/app/config.py
  backend/app/main.py
  backend/app/models/user.py
  backend/app/schemas.py
  backend/app/security.py
  backend/tests/test_ask_auth.py
  backend/tests/test_auth_register_verify.py
  docs/implementation_todo.md
Due: backend-ruff

docs: Update implementation todo list.
  docs/implementation_todo.md
Due: none

feat: Implement full user authentication flow including registration, login, email verification, and password reset with E2E tests.
  .gitignore
  AGENTS.md
  README.md
  backend/Dockerfile
  backend/README.md
  docs/implementation_todo.md
  frontend/app/forgot-password/page.tsx
  frontend/app/globals.css
  frontend/app/login/page.tsx
  frontend/app/page.tsx
  frontend/app/register/page.tsx
  frontend/app/reset-password/page.tsx
  frontend/app/verify-email/page.tsx
  frontend/e2e/auth.spec.ts
  frontend/lib/api.ts
  frontend/lib/auth.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tsconfig.tsbuildinfo
Due: frontend-eslint

docs: add production readiness checklist
  docs/implementation_todo.md
Due: none

docs: restructure implementation todo subtasks
  docs/implementation_todo.md
Due: none

feat(backend): implement ask credit reserve-capture-refund flow
  backend/README.md
  backend/alembic/versions/20260218_0004_add_questions_user_idempotency_unique.py
  backend/app/main.py
  backend/app/models/question.py
  backend/app/schemas.py
  backend/tests/test_ask_auth.py
  backend/tests/test_ask_credit_flow.py
  backend/tests/test_core_schema.py
  docs/implementation_todo.md
Due: backend-ruff

feat(frontend): add ask idempotency key flow and error branch e2e
  docs/implementation_todo.md
  frontend/app/page.tsx
  frontend/e2e/auth.spec.ts
Due: frontend-eslint

feat(backend): add credits balance and transactions endpoints
  backend/README.md
  backend/app/main.py
  backend/app/schemas.py
  backend/tests/test_credit_endpoints.py
  docs/implementation_todo.md
Due: backend-ruff

fix(backend): harden simulate-paid against concurrent wallet creation
  backend/README.md
  backend/app/main.py
  backend/app/schemas.py
  backend/tests/test_orders_flow.py
  docs/implementation_todo.md
Due: backend-ruff

feat(frontend): add wallet purchase flow and hydration-safe auth rendering
  docs/implementation_todo.md
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/app/wallet/page.tsx
  frontend/e2e/wallet.spec.ts
  frontend/lib/credits.ts
Due: frontend-eslint

feat(frontend): show immediate credit deduction after ask success
  docs/implementation_todo.md
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/e2e/auth.spec.ts
Due: frontend-eslint

docs: sync completed parent tasks and todo checklist rule
  AGENTS.md
  docs/implementation_todo.md
Due: none

feat(auth): hide register verification token in production
  backend/README.md
  backend/app/main.py
  backend/app/schemas.py
  backend/tests/test_auth_register_verify.py
  docs/implementation_todo.md
  frontend/app/forgot-password/page.tsx
  frontend/app/register/page.tsx
  frontend/e2e/auth.spec.ts
Due: backend-ruff, frontend-eslint

fix(frontend): harden login next redirect handling
  docs/implementation_todo.md
  frontend/app/login/page.tsx
  frontend/app/page.tsx
  frontend/app/wallet/page.tsx
  frontend/e2e/auth.spec.ts
  frontend/e2e/wallet.spec.ts
  frontend/lib/navigation.ts
Due: frontend-eslint

docs: enforce traditional chinese for review replies
  AGENTS.md
Due: none

feat(history): add ask history endpoint and frontend page
  backend/README.md
  backend/app/main.py
  backend/app/schemas.py
  backend/tests/test_history_endpoints.py
  docs/implementation_todo.md
  frontend/app/globals.css
  frontend/app/history/page.tsx
  frontend/app/page.tsx
  frontend/app/wallet/page.tsx
  frontend/e2e/history.spec.ts
  frontend/lib/history.ts
Due: backend-ruff, frontend-eslint

docs: update followup spec to immediate threaded asks
  PRD.md
  docs/implementation_todo.md
Due: none

chore: tidy repo structure and reporting conventions
  .gitignore
  AGENTS.md
  README.md
  backend/README.md
  backend/tests/destructive/test_user_schema_destructive.py
  frontend/app/page.tsx
  frontend/app/wallet/page.tsx
  frontend/lib/billing.ts
  frontend/tsconfig.tsbuildinfo
Due: backend-ruff, frontend-eslint

docs: deduplicate backend docs into backend readme
  README.md
  backend/README.md
Due: none

docs: move prd into docs directory
  AGENTS.md
  docs/PRD.md
  docs/implementation_todo.md
Due: none

docs: rename implementation todo to docs/TODO.md
  AGENTS.md
  docs/TODO.md
Due: none

feat(backend): add followup ask flow and options
  backend/README.md
  backend/alembic/versions/20260219_0005_update_followups_for_threaded_asks.py
  backend/app/main.py
  backend/app/models/followup.py
  backend/app/schemas.py
  backend/tests/test_ask_auth.py
  backend/tests/test_ask_credit_flow.py
  backend/tests/test_followup_ask_flow.py
  docs/TODO.md
Due: backend-ruff

feat(frontend): add followup ask UI and e2e coverage
  docs/TODO.md
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/e2e/auth.spec.ts
  frontend/lib/ask.ts
Due: frontend-eslint

fix(frontend): isolate playwright dev cache from app runtime
  .gitignore
  AGENTS.md
  frontend/app/login/page.tsx
  frontend/next.config.mjs
  frontend/playwright.config.ts
  frontend/tsconfig.json
Due: frontend-eslint

fix(infra): isolate docker frontend next cache from e2e builds
  .gitignore
  docker-compose.yml
  frontend/tsconfig.json
Due: none

feat(history): add detail view with followup tree and transactions
  backend/README.md
  backend/app/main.py
  backend/app/schemas.py
  backend/tests/test_history_endpoints.py
  docs/TODO.md
  frontend/app/globals.css
  frontend/app/history/[questionId]/page.tsx
  frontend/app/history/page.tsx
  frontend/e2e/history.spec.ts
  frontend/lib/history.ts
Due: backend-ruff, frontend-eslint

feat(history): list root conversations only and redirect child detail
  backend/README.md
  backend/app/main.py
  backend/tests/test_history_endpoints.py
  docs/TODO.md
  frontend/app/history/[questionId]/page.tsx
  frontend/e2e/history.spec.ts
Due: backend-ruff, frontend-eslint

fix(devx): prevent backend reload storms from venv churn
  AGENTS.md
  backend/Dockerfile
  backend/README.md
  docs/PRD.md
  docs/TODO.md
Due: none

fix(security): enforce production jwt secret baseline
  .env.example
  backend/README.md
  backend/app/config.py
  backend/tests/test_config_security.py
  docs/TODO.md
Due: backend-ruff

docs: mark pre-commit system install task as completed
  docs/TODO.md
Due: none

docs(todo): add unified top nav task for main frontend pages
  docs/TODO.md
Due: none

feat(frontend): unify top nav across ask wallet and history pages
  docs/TODO.md
  frontend/app/globals.css
  frontend/app/history/page.tsx
  frontend/app/page.tsx
  frontend/app/wallet/page.tsx
  frontend/components/AppTopNav.tsx
  frontend/e2e/wallet.spec.ts
Due: frontend-eslint

feat(frontend): add account dropdown menu to top nav
  docs/TODO.md
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/components/AppTopNav.tsx
  frontend/e2e/auth.spec.ts
  frontend/e2e/wallet.spec.ts
  frontend/lib/session.ts
Due: frontend-eslint

fix(frontend): remove redundant signed-in status text
  frontend/app/page.tsx
  frontend/e2e/auth.spec.ts
  frontend/e2e/wallet.spec.ts
Due: frontend-eslint

fix(frontend): remove redundant page description texts
  frontend/app/history/page.tsx
  frontend/app/page.tsx
  frontend/app/wallet/page.tsx
Due: frontend-eslint

feat(backend): implement file uploading, vector store, and search
  .env.example
  backend/README.md
  backend/openai_integration/__init__.py
  backend/openai_integration/input_files_manifest.json
  backend/openai_integration/openai_file_search_lib.py
  backend/openai_integration/openai_file_search_main.py
  backend/openai_integration/openai_input_files_uploader.py
  backend/openai_integration/openai_vector_store_builder.py
  backend/pyproject.toml
  backend/tests/test_openai_file_search_lib.py
  backend/tests/test_openai_file_search_main.py
  backend/tests/test_openai_input_files_uploader.py
  backend/tests/test_openai_vector_store_builder.py
  backend/uv.lock
  docs/TODO.md
Due: backend-ruff

chore(git): ignore local openai artifacts and untrack manifest
  .gitignore
  backend/openai_integration/input_files_manifest.json
Due: none

feat(openai): use file_search two-stage flow with debug tracing
  backend/openai_integration/openai_file_search_lib.py
  backend/openai_integration/openai_file_search_main.py
  backend/tests/test_openai_file_search_lib.py
  backend/tests/test_openai_file_search_main.py
  docs/TODO.md
Due: backend-ruff

Path conditions:
  backend-ruff: any of: ^backend/.*\.py$
  frontend-eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
